*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}


.homepage{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(104, 107, 110, 0.719), rgba(67, 78, 80, 0.3)), url('../images/logo_edit1.png');
    /* background: linear-gradient(rgba(3, 50, 75, 0.3), rgba(20, 3, 59, 0.3)); */
    /* clip-path: polygon(0.25 0.05, 0.75 0.05, 1 0.5, 0.75 0.95, 0.25 0.95, 0 0.5); */
    /* background-image: url(../images/logo_edit.png); */
    clip-path: polygon(100% 0%, 100% 88%, 50% 100%, 0% 88%, 0% 0%);
    background-size: 100% 100%;
    /* position: relative; */
}

.homepage:before{
    opacity: .2;
    content: "";
    position: absolute;
    top:0%;
    bottom: 0%;
    right: 0%;
    left: 0%; 
    /* background:linear-gradient(to top, #bdc3c7 0%,  #2c3e50 50%); */
    background:linear-gradient(to right, #66afeb 15%, #6c97bb 25%, #466992dc 95%);
    z-index: -1;
    
}

.navbar:before{
    opacity: .15;
    content: "";
    /* position: absolute; */
    top:0%;
    bottom: 0%;
    right: 0%;
    left: 0%; 
    background:linear-gradient(to top, #bdc3c7 0%,  #2c3e50 50%);
    /* background: red:  */
    z-index: -1;
}

.navbar a{
    color: beige;
}

.nav-item a{
    color: beige;
}


.dropdown-menu a{
    color: #66afeb;
}

.homepage-section{
    height: inherit;
    text-align: center;
    position: relative;
    width: 100%;
}

.center-text{
    width: 100%;
    height: auto;
    position: absolute;
    top: 60%;
    left:50%
    transform translate(-50%, -50%)
}

.center-text h1{
    font-size: 2rem;
    color: black .7;
}


.center-text p{
    font-size: 1.5rem;
    padding: 2px 0 2px 0;
    color: black .8;
    /* font-family: 'Shadows Into Light', cursive; */
}

.center-text h2{
    color:black .7;
    padding: 0 0 20px 0 ;
    /* font-family: 'Shadows Into Light', cursive; */
}
.home-buttons a{
    border: 2px solid grey;
    border-radius: 100px;
    margin: 0 8px;
    padding: 14px 30px;
    outline: none;
    color:grey;
    font-size: 1rem;
    font-weight: 500;
    text-align:center;
    font-family: 'Shadows Into Light', cursive;

    
}

.home-buttons a:hover{
    color: black;
    background: beige;
    text-decoration: none;
    box-shadow:0 0 20px 0 rgba(104, 107, 110, 0.719);
    font-family: 'Shadows Into Light', cursive;
}

/* *****************************************brands css start***************************************** */
.brands{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: grid;
    place-items: center;
    
}


/* *****************************************puma***************************************** */

.puma img{
    padding: 15px ;
    border-radius: 25px;
    transition: transform 0.5s ease-in;
    width: 10em; 
    height: 15em;
} 
.puma{
    width: 100%;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

.puma img:hover{
    transform: scale(1.1);

}

.puma::-webkit-scrollbar{
    overflow:hidden
}

/* *****************************************puma***************************************** */


/* *****************************************nike***************************************** */

.nike img{
    padding: 15px ;
    border-radius: 25px;
    transition: transform 0.5s ease-in;
    width: 10em; 
    height: 15em;
} 
.nike{
    width: 100%;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

.nike img:hover{
    transform: scale(1.1);

}

.nike::-webkit-scrollbar{
    overflow:hidden
}

/* *****************************************nike***************************************** */

/* *****************************************adidas***************************************** */

.adidas img{
    padding: 15px ;
    border-radius: 25px;
    transition: transform 0.5s ease-in;
    width: 10em; 
    height: 15em;
} 
.adidas{
    width: 100%;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

.adidas img:hover{
    transform: scale(1.1);

}

.adidas::-webkit-scrollbar{
    overflow:hidden
}

/* *****************************************adidas***************************************** */

/* *****************************************brands css end***************************************** */


/* *****************************************Contact form Start***************************************** */
.contact{
    height: 100vh;
    width: 100%;
    padding: 100px 0
}

.contact h2{
    color: grey
}

.contact p{
    color: grey
}

form:hover

.form_button button{
    border: 2px solid grey;
    border-radius: 100px;
    margin: 0 8px;
    padding: 14px 30px;
    outline: none;
    color:grey;
    font-size: 1rem;
    font-weight: 500;
    text-align:center;
    font-family: 'Shadows Into Light', cursive;
    background: transparent
}


form:hover .form_button button{
    /* background: black; */
    /* background: grey; */
    background: white;
    
    box-shadow:0 0 20px 0 rgba(104, 107, 110, 0.719)

}

/* *****************************************Contact form End**************************************** */

